{% extends ':template:base.html.twig' %}


        {% block contentheader %}
            <section class="content-header">
                <h1>
                    About
                    <small>System</small>
                </h1>

            </section>
        {% endblock %}

    {% block content %}


            {% block body %}

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="panel panel-default">

                            <div class="panel-body">
                                <div class="well">
                                    #Version 1.0.1
                                </div>


                            </div>

                        </div>

                    </div>
                </div>

            {% endblock %}


    {% endblock %}