{% extends '@MRSControle/TbHorario/Template/template.html.twig' %}

{% block title %}Novo Horario{% endblock %}

{% block pagename %}Novo{% endblock %}

{% block panelheading %}

    <a href="{{ path('horario') }}" class="btn btn-primary btn-sm">
        <span class="fa fa-reply"></span>
    </a>
{% endblock %}

{% block panelbody %}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('horario') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
