{% extends '::base.html.twig' %}

{% block title %}Novo Horario{% endblock %}

{% block body -%}

    {% include('MRSControleBundle:TbHorario/Template:painel.html.twig') %}

    <h1>TbHorario creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('horario') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
