<div class="btn-group">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-cog"></span>
        Opções
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ path('categoria_new') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Novo
            </a>
        </li>
        <li>
            <a href="{{ path('categoria') }}">
               <span class="glyphicon glyphicon-th-list"></span>
                Listar
            </a>
        </li>

        {% if entity %}

            {% if entity.catCodigo %}

                <li>
                    <a href="{{ path('categoria_edit', { 'id': entity.catCodigo }) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                        Editar
                    </a>
                </li>

            {% endif %}

            {% if entity.catCodigo %}

            <li>
                <a href="{{ path('categoria_show', { 'id': entity.catCodigo }) }}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    Mostrar
                </a>
            </li>

            {% endif %}

        {% endif %}

    </ul>
</div>